.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn--primary {
    background-color: rgb(40, 128, 243);
    color: white;
    border-radius: 5px;
    width: 150px;
    border: 1px solid black;
}
.btn--secondary{
    background-color: red;
    color: red;
    padding: 8px 20px;
    border: 1px solid white;
    transition: all 0.3s ease-out;
}
.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}
.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}
.btn--medium:hover, .btn--large:hover{
    background: white;
    color: black;
    transition: all 0.3s ease-out;
}